<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container"></div>
<footer>
    <!-- Footer main -->
    <section class="ft-main">
        <div class="ft-main-item">
            <h1 class="ft-title" id="ft-title-h1">ShedMed</h1>

            <ul>
                <li>
                    <i class="fa fa-map-marker"></i>
                    <span class="faSpace">Bab Ezzouar 16111, USTHB</span>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <a href="#footer" class="faSpace">+213 665 35 45 51</a>
                </li>
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="#footer" class="faSpace"> info@shedmed.com</a>
                </li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h1 class="ft-title">Products</h1>
            <ul>
                <li><a href="#footer">Luxury</a></li>
                <li><a href="#footer">Sport Wear</a></li>
                <li><a href="#footer">Men's Shoes</a></li>
                <li><a href="#footer">Women's Shoes</a></li>
                <li><a href="#footer">Popular Dress</a></li>
                <li><a href="#footer">Gym Accessories</a></li>
                <li><a href="#footer">Sport Shoes</a></li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h1 class="ft-title">Further Info</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#footer">About Us</a></li>
                <li><a href="#footer">Contact</a></li>
                <li><a href="#footer">FAQs</a></li>
                <li><a href="#footer">Shop Locations</a></li>
            </ul>
            <br>
            <p>Subscribe to our newsletter to get our latest news.</p>
            <form>
                <input type="email" name="email" placeholder="Enter email address">
                <a href="#" mat-button class="orangeBtn">Subscribe</a>
            </form>
        </div>
    </section>

    <!-- Footer social -->
    <section class="ft-social">
        <ul class="ft-social-list">
            <li><a href="#footer"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#footer"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#footer"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#footer"><i class="fa fa-github"></i></a></li>
            <li><a href="#footer"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#footer"><i class="fa fa-youtube"></i></a></li>
        </ul>
    </section>

    <!-- Footer legal -->
    <section class="ft-legal">
        <ul class="ft-legal-list">
            <li><a href="#footer">Terms &amp; Conditions</a></li>
            <li><a href="#footer">Privacy Policy</a></li>
            <li>&copy; Copyright © 2021 ShedMed Initiative | Designed by <a href="https://www.facebook.com/achraf.khiter.750/">KHITER</a>.</li>
        </ul>
    </section>
</footer>