<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container"></div>
<footer>
    <!-- Footer main -->
    <section class="ft-main">
        <div class="ft-main-item">
            <h1 class="ft-title" id="ft-title-h1">ShedMed</h1>

            <ul>
                <li><a href="#footer">Services</a></li>
                <li><a href="#footer">Portfolio</a></li>
                <li><a href="#footer">Pricing</a></li>
                <li><a href="#footer">Customers</a></li>
                <li><a href="#footer">Careers</a></li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h1 class="ft-title">Resources</h1>
            <ul>
                <li><a href="#footer">Docs</a></li>
                <li><a href="#footer">Blog</a></li>
                <li><a href="#footer">eBooks</a></li>
                <li><a href="#footer">Webinars</a></li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h2 class="ft-title">Contact</h2>
            <ul>
                <li><a href="#footer">Help</a></li>
                <li><a href="#footer">Sales</a></li>
                <li><a href="#footer">Advertise</a></li>
            </ul>
            <h2 class="ft-title">Stay Updated</h2>
            <p>Subscribe to our newsletter to get our latest news.</p>
            <form>
                <input type="email" name="email" placeholder="Enter email address">
                <input type="submit" value="Subscribe">
            </form>
        </div>
    </section>

    <!-- Footer social -->
    <section class="ft-social">
        <ul class="ft-social-list">
            <li><a href="#footer"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#footer"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#footer"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#footer"><i class="fa fa-github"></i></a></li>
            <li><a href="#footer"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#footer"><i class="fa fa-youtube"></i></a></li>
        </ul>
    </section>

    <!-- Footer legal -->
    <section class="ft-legal">
        <ul class="ft-legal-list">
            <li><a href="#footer">Terms &amp; Conditions</a></li>
            <li><a href="#footer">Privacy Policy</a></li>
            <li>&copy; Copyright © 2021 ShedMed Initiative | Designed by <a href="https://www.facebook.com/achraf.khiter.750/">KHITER</a>.</li>
        </ul>
    </section>
</footer>