<form action="/action_page.php">
    <div class="container">
        <h1>Create new category</h1>
        <p>Please fill in this form to create a new category.</p>
        <hr>

        <label for="nameCategory"><b>name of Category</b></label>
        <input type="text" placeholder="Enter name Category" name="nameCategory" id="nameCategory" required>

        <label for="descriptionCategory"><b>Description of category</b></label>
        <textarea id="descriptionCategory" name="descriptionCategory" rows="6" cols="50" placeholder="At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies." required>
        </textarea>


        <label for="codeCategory"><b>Code of Category</b></label>
        <input type="text" placeholder="Enter code Category" name="codeCategory" id="codeCategory" required>
        <hr>

        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Do you want to comeback to home <a href="#">Home</a>.</p>
    </div>
</form>