<app-navbar>
</app-navbar>


<!-- add the register-user. we use id="main" tp push it when we click MENU    -->

<div id="main">
    <!-- <app-register-user></app-register-user> -->
    <!-- <app-welcome-page></app-welcome-page> -->
    <!-- <app-contact-page></app-contact-page> -->
    <!-- <app-aboutus-page></app-aboutus-page> -->
    <!-- <app-add-product></app-add-product> -->
    <!-- <app-add-category></app-add-category> -->
    <!-- <app-add-store></app-add-store> -->
    <!-- <app-add-info-profile></app-add-info-profile> -->
    <app-one-product></app-one-product>
</div>

<app-footer></app-footer>