<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div id="welcomePageContainer">
    <div id="welcomePhrase">
        <br><br><br>
        <h3>Welcome to be part of our beautiful Initiative</h3>
        <br><br>
        <h1> <a href="#">ShedMed</a> </h1>
    </div>
    <br><br><br>
    <div class="optionsContainer">
        <div>
            <a href="#">
                <img src="../../assets/img/marketplace.jpg">
                <h2>MarketPlace</h2>
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../../assets/img/free.jpg">
                <h2>Free Object</h2>
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../../assets/img/exchange.jpg">
                <h2>Exchange</h2>
            </a>
        </div>
    </div>
    <br><br><br>
</div>