<div class="about-section">
    <h1>About Us Page</h1>
    <h3> <b>Intitulé du Projet: </b> Conception et réalisation d'une plateforme en ligne pour les échanges commerciaux et les Bénévoles caritatifs en Algérie..</h3>
    <h3> <b>Résumé du sujet de PFE:</b> La conception et la réalisation d'une application web qui permet la gestion des échanges commerciaux entre utilisateurs, les achats / ventes et les dons. L’application est basée sur ces trois points essentiels:-La présentation
        des biens à vendre ou le prix sera symbolique, adapté aux deux parties selon l'intention du propriétaire dans la vente ou charité.</h3>
</div>

<h1 style="text-align:center">Our Team</h1>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="../../assets/img/achraf.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>KHITER Mohamed Achraf</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>Student * Junior Full Stack Devloper* hard worker* self-taught* honest, I will be the best software enginner </p>
                <p>khiter.med7@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/img/manel.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>BENBARA Manel</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                <p>manel.hamilton44@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/img/google.svg" alt="John" style="width:100%">
            <div class="container">
                <h2> Mister GOOGLE</h2>
                <p class="title">Moteur de recherche</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                <p>google@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>