<form action="/action_page.php">
    <div class="container">
        <h1>Create new store </h1>
        <p>Please fill in this form to create a new store.</p>
        <hr>

        <label for="nameStore"><b>Aame of Store</b></label>
        <input type="text" placeholder="Enter name Store" name="nameStore" id="nameStore" required>


        <label for="adressStore"><b>Adress of Store</b></label>
        <input type="text" placeholder="Enter adress Store" name="adressStore" id="adressStore" required>


        <label for="ownerStore"><b>Owner of the store </b></label>
        <input type="text" placeholder="Enter Owner of the store" name="ownerStore" id="ownerStore" required>
        <hr>

        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Do you want to comeback to home <a href="#">Home</a>.</p>
    </div>
</form>