/* creer espace entre title logog w buttons about us a log in*/

.spacer {
    flex: 1 1 auto;
}

#logo {
    margin-right: 2%;
    margin-top: 8px;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

span>h1 {
    font-size: 200%;
}

#menuBtn {
    padding-inline-start: 3%;
}

a {
    margin-right: 2%;
}

a:active {
    color: orange;
}

div>a {
    margin-bottom: 20%;
}


/* hado li ham jayin kaml ta3 left side nav bar */

.sidenav {
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #212121;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

.sidenav a:active {
    color: orange;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* the color and decoration of society title (logo)*/

#titleLink {
    text-decoration: none;
    color: inherit;
}

#titleLink:active {
    color: orange;
}