<!--  ceci est notre nav bar comme un seul Component  -->
<mat-toolbar class="mat-elevation-z10">

    <div id="logo"><img src="../../assets/img/logo.jpg" alt="Logo of society"></div>
    <a href="" id="titleLink">
        <span>
           <h1>ShedMed Initiative</h1>
         </span>
    </a>
    <a href="#" [matMenuTriggerFor]="menu" mat-raised-button color="accent">Principal Menu</a>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>MarketPlace</button>
        <button mat-menu-item>Free Object</button>
        <button mat-menu-item>Exchange</button>
    </mat-menu>

    <input id="inputSearch" type="search" name="search" placeholder="Search..." style="height: 36px;width: 250px; margin-left: 15px;">
    <button type="submit" mat-button class="btnSearch"><i class="fa fa-search "></i></button>

    <a href="#" mat-button>About Us</a>
    <a href="#" mat-button>Contact</a>
    <a type="submit" mat-raised-button color="accent">Sign In</a>


</mat-toolbar>