<!--  ceci est notre nav bar comme un seul Component  -->
<mat-toolbar class="mat-elevation-z10">

    <div id="logo"><img src="../../assets/img/logo.jpg" alt="Logo of society"></div>
    <a href="" id="titleLink">
        <span>
           <h1>ShedMed Initiative</h1>
         </span>
    </a>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="menuBtn">&#9776; Menu</span>
    <div class="spacer"></div>

    <input id="inputSearch" type="search" name="search" placeholder="Search..." style="height: 36px;width: 250px;">
    <button type="submit" mat-button class="btnSearch"><i class="fa fa-search "></i></button>

    <a href="#" mat-button>About Us</a>
    <a href="#" mat-button>Contact</a>
    <a type="submit" mat-raised-button color="accent">Sign In</a>
    <!--  et ceci est notre nav bar left side comme un Menu  -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" onclick="closeNav()">MarketPLace</a>
        <a href="#" onclick="closeNav()">Free Object</a>
        <a href="#" onclick="closeNav()">Exchange</a>
    </div>
</mat-toolbar>